.page-header {
  position: fixed;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
}

.page-header .logo {
  width: 30vw;
}

.page-header > * {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header > a {
  text-decoration: none;
  color: #111;
}

.page-header > a:not(:first-child) {
  border-bottom: 3px #fff solid;
}

.page-header > a:hover:not(:first-child) {
  border-bottom: 3px #111 solid;
}

@media (max-width: 599px) {
  .page-header {
    display: none;
  }
}

.blocks-container {
  text-align: center;
}

.app-logo {
  height: 40vmin;
}

.block, .inverted-block {
  min-height: 80vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
}

.block {
  background-color: #fff;
  color: #111;
}

.inverted-block {
  background-color: #000;
  color: #fff;
}

h2 {
  font-weight: normal;
}

.picture {
  width: 80vw;
}