.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
}

.block, .inverted-block {
  min-height: 90vh;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
}

.block {
  background-color: #fff;
  color: #111;
}

.inverted-block {
  background-color: #000;
  color: #fff;
}

h2 {
  font-weight: normal;
}