.page-header {
  position: fixed;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
}

.page-header .logo {
  width: 30vw;
}

.page-header div * {
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header div a {
  text-decoration: none;
  color: #111;
}

.page-header div a {
  border-bottom: 3px #fff solid;
}

.page-header div a:hover {
  border-bottom: 3px #111 solid;
}

.blocks-container {
  text-align: center;
}

.app-logo {
  height: 40vmin;
}

.block, .inverted-block {
  min-height: 80vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
}

.block a, .inverted-block a {
  text-decoration: none;
  color: #0ca8f5;
}

.block a:hover, .inverted-block a:hover {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #0ca8f5;
}

.block {
  background-color: #fff;
  color: #111;
}

.inverted-block {
  background-color: #000;
  color: #fff;
}

h2 {
  font-weight: normal;
}

.picture {
  width: 80vw;
}

.small-picture {
  width: 100vw;
  max-width: 400px;
}

.picture-caption {
  font-size: 0.5em;
  font-style: italic;
}

form p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

form label span {
  width: 120px;
  display: inline-block;
  font-size: 0.7em;
  vertical-align: baseline;
  padding-right: 10px;
}

form input, form textarea {
  vertical-align: top;
  width: 400px;
  max-width: 80vw;
  font-size: 0.7em;
  height: 2em;
  padding: 1px 1px 1px 6px;
  font-family: 'Raleway', sans-serif;
}

form textarea {
  height: 150px;
  padding-top: 6px;
  padding-bottom: 6px;
}

button {
  background: #fff;
  border: 2px #fff solid;
  box-shadow: none;
  padding: 0.7em;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 0.5em;
}

button:hover {
  background: #111;
  color: #fff;
}

button:disabled, button:disabled:hover {
  background: #fff;
  color: graytext;
  cursor: default;
}

.faq-entry {
  width: 100%;
}

.faq-question {
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 1em;
}

.faq-answer {
  font-size: 0.6em;
  margin-bottom: 1em;
}

.features-list {
  text-align: left;
  font-size: 0.8em;
}

.features-list li {
  margin-bottom: 1em;
}

.bg-burger-button {
  background: #fff;
  border-radius: 22px;
  width: 44px;
  height: 44px;
  display: block;
  position: fixed;
  margin: 10px;
}
